* {
  margin: 0;
  padding: 0;
}  

.completed {
  text-decoration: line-through;
}

.highlighted-code {
  overflow: auto;
  width: 1030px;
  margin: auto;
}

body {
  font: 15px, Tahoma, Verdana, Arial, sans-serif;
  line-height: 1.4em;
  text-align: center;
  color: #000000;
  background: #e2e2e2;
}

ul li {
  list-style-image:url(/images/li.gif);
}

#container {
  /* width: 1080px; */
  width: 98%; 
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  border: 1px solid #747474;
  background: #ffffff;
}


#header {
  height: 50px;
  /* width: 1050px; */
  width: 99%;
  margin: auto;
  margin-top: 10px;
  border: 1px solid #747474;
  background-color: #ffffff;
  background-image: url('/images/logo.gif');
  background-repeat: no-repeat;
  background-position: 95% center;
}

#header h1 {
  color: #c41200;
  text-align: left;
  margin-top: 10px;
  margin-left: 20px;
}


#menu {
  text-align: left;
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  /*border: 1px solid #747474;*/
}

#menu ul {
  list-style-type: none;
}

#menu ul li {
  height: 30px;
  width: 98px;
  float: left;
  margin-right: 10px;
  list-style: none;
  padding-top: 10px;
  font-size: 15px;
  font-variant: small-caps;
}

#menu ul li#last {
  margin-right: 0;
}

#menu ul li a {
  margin-left: 6px;
  margin-right: 8px;
  display: block;
  text-decoration: none;
  color: #a2a2a2;
  border-bottom: 4px dotted #c41200;
}

#menu ul li a:hover {
  border-bottom: 4px dotted #85c20c;
}

#content {
  width: 99%;
  margin: auto;
  text-align: left;
}

#content ul {
  padding-left: 30px;
}

#content ol {
  padding-left: 30px;
}

#content a {
  color: #009ddd;
  text-decoration: underline;
}

#content a:visited {
  color: #85c20c;
  text-decoration: none;
}

#content a:hover {
  color: #85c20c;
  text-decoration: none;
}

#content a:active {
  color: #85c20c;
  text-decoration: none;
}

#content h1 {
  padding: 10px;
}

#content h4 {
  padding: 10px;
}

#content h2 {
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  color:  #009ddd;
}

#content h3 {
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #85c20c;
}

#content p {
  margin: 10px;
}

#content acronym {
  border-bottom: 1px dotted #85c20c;
}

#content blockquote {
  margin: 5px;
  margin-left: 30px;
}

#content blockquote:before {
  color: #85c20c;
  font-weight: bold;
  content: '"';
}

#content blockquote:after {
  color: #85c20c;  
  font-weight: bold;
  content: '"';
}  

#footer {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border: 1px solid #747474;
}

#content a.paster-link {
  text-decoration: none;
}

#content a.channel-link {
  text-decoration: none;
}

th {
  font: 13px, Tahoma, Verdana, Arial, sans-serif;
  background: #DDDDDD;
  border-bottom: 1px solid #666666;
}

td {
  font: 13px, Tahoma, Verdana, Arial, sans-serif;
  text-align: center;
}


